html {
	font-family: 'Raleway', sans-serif;
	background-image: url('../images/background.jpg'); 
	background-color: rgb(100, 118, 150);
	background-blend-mode: multiply;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	height: 100%;
}

.pageHeader {
	/*font-family: 'Droid Serif', serif;*/
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 10px 0 0 0;
}

.pageSubHeader {
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.uscfIdForm {
	color: #fff;
	text-align: center;
}

.uscfIdForm input {
	margin: 40px 0 0 0;
}

.results {
	color: #fff;
	margin: 20px 0 0 0;
	text-align: center;
}

.loadingSpinner {
    position: relative;
    display: inline-block;
    width:  1em;
    height: 1em;
    font-size: 32px;
    border-bottom: 1px solid;
    vertical-align: middle;
    overflow: hidden;
    text-indent: 100%;
    border-radius: 50%;
    border-color: #fff;
    margin-top: 20px;
    -webkit-animation: 0.5s loadingSpinner linear infinite;
       -moz-animation: 0.5s loadingSpinner linear infinite;
            animation: 0.5s loadingSpinner linear infinite;
}

.loadingSpinner:after {
	border-radius: 50%;
	content: "";
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    border: 1px solid;
    opacity: .2;
}

@-webkit-keyframes loadingSpinner {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes loadingSpinner {
  to { transform: rotate(360deg); }
}

label a {
	color: #fff;
}

label a:hover {
	color: cyan;
}