html {
	font-family: 'Raleway', sans-serif;
	background-image: url('../images/background.jpg'); 
	background-color: rgb(100, 118, 150);
	background-blend-mode: multiply;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	height: 100%;
}

.pageHeader {
	/*font-family: 'Droid Serif', serif;*/
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 10px 0 0 0;
}

.pageSubHeader {
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.uscfIdForm {
	color: #fff;
	text-align: center;
}

.uscfIdForm input {
	margin: 40px 0 0 0;
}

.results {
	color: #fff;
	margin: 20px 0 0 0;
	text-align: center;
}

.loadingSpinner {
    position: relative; /* [1] */
    display: inline-block;
    width:  1em; /* [2] */
    height: 1em; /* [2] */
    font-size: 32px; /* [3] */
    border-bottom: 1px solid; /* [4] */
    vertical-align: middle;
    overflow: hidden;  /* [5] */
    text-indent: 100%; /* [5] */
    border-radius: 50%;
    border-color: #fff;
    margin-top: 20px;
    -webkit-animation: 0.5s loadingSpinner linear infinite;
       -moz-animation: 0.5s loadingSpinner linear infinite;
            animation: 0.5s loadingSpinner linear infinite;
}

.loadingSpinner:after {
	border-radius: 50%;
	content: "";
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    border: 1px solid; /* [1] */
    opacity: .2; /* [2] */
}

@-webkit-keyframes loadingSpinner {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes loadingSpinner {
  to { transform: rotate(360deg); }
}

/*.inputContainer {
	height: 200px;
	width: 600px;
	margin: auto;
	background-color: rgba(192, 192, 192, .8);
	color: #E18A07;
}*/